header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 95%;
    max-width: 78rem;
    height: 4rem;

    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);

    background-image: linear-gradient(to right, var(--light-green), var(--dark-green));
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;

    border-radius: 1rem;

    border: 1px solid rgba(255, 255, 255, 0.5);
    
    .content {
        display: flex;
        align-items: center;

        ul {
            list-style: none;

            li {
                display: inline;
                margin-left: 2.5rem;
                cursor: pointer;
            }
        }
    }

    .fale-conosco {
        background-color: rgba(0, 242, 195, 1);
        border: none;
        border-radius: 3rem;
        padding: 0.5rem 1.5rem;
    }

    .menu-burger {
        display: none;
        background: transparent;
        border: none;
    }

    @media (max-width: 700px) {
        .content {
            ul {
                display: none;
            }
        }

        .fale-conosco {
            display: none;
        }
    }
}